.criecomigo-bg{
    background-color: var(--cor-11);
    box-shadow: inset 0px 80px var(--cor-0), inset 0px -80px var(--cor-0);
}

.criecomigo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    
}

.criecomigo-conteudo{
    align-self: end;
    padding-bottom: 200px;
}

.criecomigo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.criecomigo-conteudo h1{
    margin-bottom: 32px;
    padding-top: 160px;
}

.criecomigo-conteudo p{
    margin-bottom: 20px;
}

.criecomigo-conteudo .botao{
    margin-bottom: 24px;
}

@media (max-width:800px){
    .criecomigo-bg{
        background-color: var(--cor-11);
        padding-top: 20px;
        box-shadow: inset 0 -60px var(--cor-0);
    }
    .criecomigo {
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .criecomigo-conteudo{
        padding-bottom: 0px;
    }
    .criecomigo-conteudo h1{
        padding-top: 40px;
        margin-bottom: 16px;
    }
    .criecomigo-conteudo p{
        margin-bottom: 8px;
    }
    .criecomigo-conteudo .botao{
        margin-bottom: 8px;
    }
    .criecomigo img{
        height: 300px;
        width: 100%;
    }
}